
/* declarate variable primary and secondary color */
:root {
    --primary-color: #16ac61;
    --secondary-color: #544dd5;
    --primary-variant-color: #3e4654;
    --secondary-variant-color: #3c36aa;
}

* {
    padding: 0;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

body{
    background-color: #3e4654;
}


/* navbar_a */

header {
    /* position: fixed; */
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    height: 7rem;
}

header .b-menu {
    font-weight: 400;
    color: #000;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

header .b-menu img {
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

header h1 {
    height: 100%;
}

header .d-nav {
    height: 100%;
    align-items: center;
}

header .navbar_a {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header li {
    margin: 0 10px;
}

header a {
    color: var(--secondary-color);
    font-size: 1.5rem;
}

header button {
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#login {
    background-color: rgb(255, 255, 255);
    color: #3c36aa;
    border-color: #3c36aa;
}

#register {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}

#register a {
    color: #fff;
}

/* Hero */

.seccion-h
{
    background-image: url("/img/portada.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-text
{
    width: 50%;
    margin: auto 60px;
}

.seccion-h h1
{
    font-size: 5vw;
    color: #fff;
    font-weight: 400;
    margin-bottom: 20px;
}

.seccion-h p
{
    font-size: 20px;
    color: #fff;
    font-weight: 300;
    margin-bottom: 20px;
}

.seccion-h button
{
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--secondary-color);
    color: #fff;
    border-color: var(--secondary-color);
}

/* About */

.seccion-a
{
    background-color: var(--primary-variant-color);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20%;
}

.seccion-a h1 {
    margin: 40px auto 20px 20px;
    font-size: 2.5vw;
    color: #000;
    font-weight: 700;
    font-size: 3vw;
}

.seccion-a .content-a {
    display: grid;
    grid-template-columns: 30vw 30vw; 
    gap: 20px;
    padding: 10px;
    margin: 0 40px;
}

.content-a .items-a {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.items-a h3 {
    font-size: 1.2vw;
    width: 90%;
    justify-content: start;
}

.items-a p {
    justify-content: center;
    align-items: center;
    font-size: 1.2vw;
    margin: 10px;
    height: 100%;
}

.items-a button {
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--secondary-color);
    color: #fff;
    border-color: var(--secondary-color);
    justify-content: end;
}

/* Community */

.section-c {
    margin: 0 auto 0 auto;
    padding-top: 70px;
    height: 100vh;
    width: 80%;
    justify-content: center;
    align-items: center;
}

.section-c h1 {
    margin: 20px auto 30px auto;
    font-size: 2.5vw;
    color: #000;
    font-weight: 700;
}

.section-c h3 {
    font-size: 1.2vw;
    width: 90%;
    justify-content: start;
    font-weight: 500;
    padding-bottom: 20px;
}

.community-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;;
    padding: 10px;
}

.community-item {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.community-item img {
    width: 100%;
}

.community-item h4 {
    justify-content: start;
    align-items: flex-start;
    padding: 10px;
}

.community-item p {
    justify-content: center;
    align-items: center;
    font-size: 1.2vw;
    margin: 10px;
    height: 100%;
}

.btn-community {
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--secondary-color);
    color: #fff;
    border-color: var(--secondary-color);
    justify-content: end;
    align-items: flex-end;
}

/* Footer */

footer {
    background-color: black;
    color: white;
    font-size: 1vw;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.footer_2{
    background-color: black;
    font-size: 1.5rem;
    height: 2rem;
    padding-bottom: 1rem;
}

footer div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

footer img {
    width: 50px;
    height: 50px;
}

footer h5 {
    font-size: 1.2vw;
    font-weight: 300;
}

/* Apply responsive design to css with script from ./assets/main.js */
@media (max-width: 850px){
    header .nav-i {
        display: none;
    }

    .seccion-h{
        height: 100vh;
    }


}

@media screen and (max-width: 768px) {
    /*header responsive*/
    header .b-menu {
        display: none;
    }
    header {
        display: flex;
        height: 100px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    header .navbar_a {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    header li {
        margin: 10px 5px;
    }
    header .nav-i{
        display: flex;
        font-size: 2.8vw;
    }
    header button {
        margin: 10px 0;
        /*    change size button small*/
        padding: 10px 20px;
    }
    /*hero responsive*/


    .seccion-h {
        height: 100vh;
    }
    .seccion-h h1 {
        font-size: 8vw;
    }
    .seccion-h p {
        font-size: 3vw;
    }
    .seccion-h button {
        font-size: 3vw;
    }
    .seccion-a {
        height: 120vh;
        padding: 0 5%;
    }
    .seccion-a h1 {
        font-size: 5vw;
    }
    .seccion-a .content-a {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .content-a .items-a {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }
    .items-a h3 {
        font-size: 3vw;
        width: 90%;
        justify-content: start;
    }
    .items-a p {
        justify-content: center;
        align-items: center;
        font-size: 2vw;
        margin: 10px;
        height: 100%;
    }
    .items-a button {
        font-size: 2vw;
    }
    .section-c {
        height: 150vh;
        width: 70%;
        padding-top: 100px;
        justify-content: center;
        align-items: center;
    }
    .section-c h1 {
        font-size: 5vw;
    }
    .section-c h3 {
        font-size: 3vw;
        width: 90%;
        justify-content: start;
        font-weight: 500;
        padding-bottom: 20px;
    }
    .community-cards {
        display: flex;
        flex-direction: column;
        justify-content: space-between;;
        padding: 10px;
    }
    .community-item {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .community-item img {
        margin-top: 10px;
        width: 100%;
    }
    .community-item h4 {
        justify-content: start;
        align-items: flex-start;
        padding: 10px;
    }
    .community-item p {
        justify-content: center;
        align-items: center;
        font-size: 2vw;
        margin: 10px;
        height: 100%;
    }
    .btn-community {
        font-size: 2vw;
    }
    footer {
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
}

